atseintl-master/Schema/RexPricing/PricingCommonTypes_v1.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Grzegorz Cholewiak (EDS/SABRE ACCT) -->
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Konrad Koch (Sabre Inc) -->
<!--
==================================================================
//
//  File:         PricingCommonTypes_v1.0.1.xsd
//  Description:  Pricing Common Types definition
//
//  Copyright Sabre 2011
//
//          The copyright to the computer program(s) herein
//          is the property of Sabre.
//          The program(s) may be used and/or copied only with
//          the written permission of Sabre or in accordance
//          with the terms and conditions stipulated in the
//          agreement/contract under which the program(s)
//          have been supplied.
//
================================================================== 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0.1">
	<!--*********************************************************
    
      generic type declarations
    
    ********************************************************-->
	<!-- any single alphanumeric character -->
	<xs:simpleType name="AlphaNumCharType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumStrType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z])+"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- any single character without space-->
	<xs:simpleType name="AnyCharType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- any single character with space allowed-->
	<xs:simpleType name="CharType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- boolean restricted to '1' or '0' -->
	<xs:simpleType name="Bool10Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- boolean restricted to 'T' or 'F' -->
	<xs:simpleType name="BoolTFType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[TF]"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- boolean restricted to 'Y' or 'N' -->
	<xs:simpleType name="BoolYNType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[YN]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FormOfPaymentType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      billing and agent type declarations
    
    ********************************************************-->
	<xs:simpleType name="ActionCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgentFunctionType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgentDepartmentCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirlineDeptCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ARCNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionIDType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ClientTransactionIDType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CorporateIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartitionIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{2,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PseudoCityCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{3,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LnIATAType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-F]{6,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceNameType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z,]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InclusionCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistributionChannelType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ClientIDType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SourceOfRequestType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      date and time common types
    
    ********************************************************-->
	<!-- Default ATSE date format:  YYYY-MM-DD -->
	<xs:simpleType name="DateYYYY-MM-DDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[2][0-9]{3}-[0-1][0-9]-[0-3][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ATSE date format:  YYYY-MM-DD with infinite future and distant past dates-->
	<xs:simpleType name="DateYYYY-MM-DDTypeINFTY">
		<xs:restriction base="xs:string">
			<xs:pattern value="[2][0-9]{3}-[0-1][0-9]-[0-3][0-9]"/>
			<xs:pattern value="9999-12-31"/>
			<xs:pattern value="1980-01-01"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Default ATSE time format: HHMM (24 hour format) -->
	<xs:simpleType name="TimeHHMMType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-2][0-9][0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeHHMMColonType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-2][0-9]:[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeHH-MM-SSType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeHH-MM-SS.FFFFFFType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{2}.[0-9]{6}"/>
			<xs:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeMinutesSinceMidnightType">
		<xs:restriction base="xs:short">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1440"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeInMinutesType">
		<xs:restriction base="xs:short"/>
	</xs:simpleType>
	<xs:simpleType name="TimeInSecondsType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="TimeZoneType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateDDMMMYYType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-3][0-9][A-Za-z]{3}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateYYMMDDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9]/[0-1][0-9]/[0-3][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      Geo type declarations
    
    ********************************************************-->
	<xs:simpleType name="AirportCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,5}"/>
			<xs:pattern value="[A-Z]{3,5}\s"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CityCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StateCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IATAAreaCodeType">
		<xs:restriction base="xs:short"/>
	</xs:simpleType>
	<!--*********************************************************
    
      common ATSE declarations
    
    ********************************************************-->
	<xs:simpleType name="AirlineCodeType">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[0-9A-Z]{2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BookingCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareBasisCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonetaryAmountType">
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	<xs:simpleType name="PassengerCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z][A-Z0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GlobalDirectionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TicketDesignatorType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResStatus">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BldFareCalcType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[BSYN]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MidPointIndicatorType">
		<xs:restriction base="xs:string">
			<xs:pattern value=" "/>
			<xs:pattern value="[EMXI]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConMultiAPType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[MN]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReqTypeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[IMP]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoutingNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareDataType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareDesignatorType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FootnoteType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareDisplayType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OutputType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CombinabilityCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareClassCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoutingType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}[A-Z0-9]{0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoutingDescription">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,63}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CarrierCodesType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z\|]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OfficeDesignatorType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{5,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BaggageType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      common ATSE enumerations
    
    ********************************************************-->
	<xs:simpleType name="JourneyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OW"/>
			<xs:enumeration value="RT"/>
			<xs:enumeration value="HR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SortType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SD"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      RTG declarations
    
    ********************************************************-->
	<xs:simpleType name="LocationKeyType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VendorCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NoOfCalled">
		<xs:restriction base="xs:string">
			<xs:pattern value="[12]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FltAvlBreak">
		<xs:restriction base="xs:string">
			<xs:pattern value="[12]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JourneyJPSType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[FL]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      Geo type declarations
    
    ********************************************************-->
	<xs:simpleType name="IPAddressType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PortNumberType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--*********************************************************
    
      Ancillary Service declarations
    
    ********************************************************-->
	<xs:simpleType name="ChargeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,2}.[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SegmentSequenceType">
		<xs:list itemType="xs:short"/>
	</xs:simpleType>
	<xs:simpleType name="PaxIDList">
		<xs:list itemType="xs:short"/>
	</xs:simpleType>
	<!-- PrivateFareIndType restricted to 'X' or '@' or '/' or '*' -->
	<xs:simpleType name="PrivateFareIndType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[X@/*]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Numbers 1 to 24 -->
	<xs:simpleType name="OneToTwentyFourNumberType">
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Numbers 1 to 99 -->
	<xs:simpleType name="OneToNinetyNineNumberType">
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CorpIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareIndType">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TwoDigitBitMapType">
		<xs:restriction base="xs:hexBinary">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- 3 char Fixed String -->
	<xs:simpleType name="ThreeCharacterFixedString">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- 4 character variable string -->
	<xs:simpleType name="FourCharacterVariableStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- 6 character variable string -->
	<xs:simpleType name="SixCharacterVariableStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TierLevelType">
		<xs:restriction base="xs:short">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TwoCharacterVariableStringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AncillaryServiceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="F"/>
			<xs:enumeration value="T"/>
			<xs:enumeration value="R"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation>Embargoes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M"/>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation>CarryOn Allowance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CC">
				<xs:annotation>
					<xs:documentation>CarryOn Charges</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeightUnitType">
		<xs:annotation>
			<xs:documentation>K - kilogram, L - pound</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="K"/>
			<xs:enumeration value="L"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeightOrLengthUnitType">
		<xs:annotation>
			<xs:documentation>K - kilogram, L - pound, M - metre, C - centimetre, I - inch, F - foot</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="K"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LengthUnitType">
		<xs:annotation>
			<xs:documentation>M - metre, C - centimetre, I - inch, F - foot</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="M"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="I"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LimitType">
		<xs:annotation>
			<xs:documentation>U- up to, O - over</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="U"/>
			<xs:enumeration value="O"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceDescriptionType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceGroupType">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMDType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value=" "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ATPCOTierLevelType">
		<xs:restriction base="xs:unsignedByte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeatNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BaggageProvisionType">
		<xs:annotation>
			<xs:documentation>
			A  - Checked Baggage Allowance
			C  - Day of Check-in Charges
			B  - Carry-on Baggage Allowance
			CC - Carry-on Baggage Charges
			E  - Baggage Embargo
			P  - Prepaid Checked Baggage Charges
			EE - Generic Embargo: No Excess Permitted
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="CC"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="EE"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UpToTwoAlphaNumCharType">
    	<xs:restriction base="xs:string">
    		<xs:pattern value="[0-9a-zA-Z]{1,2}"/>
    	</xs:restriction>
	</xs:simpleType>

    <!--*********************************************************
     
      Branded fare declarations
               
    **********************************************************-->

    <xs:simpleType name="BrandCodeType">
      <xs:restriction base="xs:string">
        <xs:pattern value="([0-9a-zA-Z/\-.])+"/>
        <xs:minLength value="2"/>
        <xs:maxLength value="10"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProgramCodeType">
      <xs:restriction base="xs:string">
        <xs:pattern value="([0-9a-zA-Z/\-.])+"/>
        <xs:minLength value="1"/>
        <xs:maxLength value="10"/>
      </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BrandProgramNameType">
      <xs:restriction base="xs:string">
        <xs:pattern value="([0-9a-zA-Z/\-.])+"/>
        <xs:minLength value="1"/>
        <xs:maxLength value="30"/>
      </xs:restriction>
    </xs:simpleType>

 <!--*********************************************************
     
    Svc Fee Security
               
  **********************************************************-->
	<xs:simpleType name="AirlineChannelType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
