atseintl-master/Schema/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) by Grzegorz Cholewiak-->
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Andrea Yang (EDS/SABRE ACCT) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by siriwan Chootongchai (EDS/SABRE ACCT) -->
<!-- ==================================================================
//
//
//  File:         CommonTypes.xsd
//  Author:       Jim Stoltenberg
//  Created:      March 2004
//  Description:  Common attributes types for ATSE schemas
//
//  Copyright Sabre 2004
//
//          The copyright to the computer program(s) herein
//          is the property of Sabre.
//          The program(s) may be used and/or copied only with
//          the written permission of Sabre or in accordance
//          with the terms and conditions stipulated in the
//          agreement/contract under which the program(s)
//          have been supplied.
//
//
//================================================================= -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!--*********************************************************
    
      generic type declarations
    
    ********************************************************-->
	<!-- any single alphanumeric character -->
	<xs:simpleType name="AlphaNumCharType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumStrType">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-zA-Z])+"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- any single character -->
	<xs:simpleType name="AnyCharType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- boolean restricted to '1' or '0' -->
	<xs:simpleType name="Bool10Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- boolean restricted to 'T' or 'F' -->
	<xs:simpleType name="BoolTFType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[TF]"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- boolean restricted to 'Y' or 'N' -->
	<xs:simpleType name="BoolYNType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[YN]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FormOfPaymentType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      billing and agent type declarations
    
    ********************************************************-->
	<xs:simpleType name="ActionCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgentFunctionType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgentDepartmentCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirlineDeptCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ARCNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionIDType">
		<xs:restriction base="xs:unsignedLong"/>
	</xs:simpleType>
	<xs:simpleType name="ClientTransactionIDType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CorporateIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PartitionIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{2,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PseudoCityCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{3,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LnIATAType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-F]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceNameType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z,]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InclusionCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistributionChannelType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ClientIDType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SourceOfRequestType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      date and time common types
    
    ********************************************************-->
	<!-- Default ATSE date format:  YYYY-MM-DD -->
	<xs:simpleType name="DateYYYY-MM-DDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[2][0-9]{3}-[0-1][0-9]-[0-3][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Default ATSE time format: HHMM (24 hour format) -->
	<xs:simpleType name="TimeHHMMType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-2][0-9][0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeHHMMColonType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-2][0-9]:[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeHH-MM-SSType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeHH-MM-SS.FFFFFFType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{2}.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeMinutesSinceMidnightType">
		<xs:restriction base="xs:short">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1439"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeInMinutesType">
		<xs:restriction base="xs:short"/>
	</xs:simpleType>
	<xs:simpleType name="TimeInSecondsType">
		<xs:restriction base="xs:long"/>
	</xs:simpleType>
	<xs:simpleType name="TimeZoneType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateDDMMMYYType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-3][0-9][A-Za-z]{3}[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      Geo type declarations
    
    ********************************************************-->
	<xs:simpleType name="AirportCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CityCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StateCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IATAAreaCodeType">
		<xs:restriction base="xs:short"/>
	</xs:simpleType>
	<!--*********************************************************
    
      common ATSE declarations
    
    ********************************************************-->
	<xs:simpleType name="AirlineCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z][A-Z0-9]{1}"/>
			<xs:pattern value="[A-Z0-9][A-Z][A-Z0-9]?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BookingCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareBasisCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[A-Z0-9]+(/[A-Z0-9]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonetaryAmountType">
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	<xs:simpleType name="PassengerCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z][A-Z0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GlobalDirectionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TicketDesignatorType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResStatus">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BldFareCalcType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[BSYN]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MidPointIndicatorType">
		<xs:restriction base="xs:string">
			<xs:pattern value=" "/>
			<xs:pattern value="[EMXI]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ConMultiAPType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[MN]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReqTypeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[IMSPBFER]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoutingNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareDataType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareTypeCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareDesignatorType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FootnoteType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareDisplayType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OutputType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CombinabilityCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FareClassCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoutingType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}[A-Z0-9]{0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoutingDescription">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,63}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CarrierCodesType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z\|]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OfficeDesignatorType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{5,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      common ATSE enumerations
    
    ********************************************************-->
	<xs:simpleType name="JourneyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OW"/>
			<xs:enumeration value="RT"/>
			<xs:enumeration value="HR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SortType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SA"/>
			<xs:enumeration value="SD"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      RTG declarations
    
    ********************************************************-->
	<xs:simpleType name="LocationKeyType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LocationType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VendorCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NoOfCalled">
		<xs:restriction base="xs:string">
			<xs:pattern value="[12]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FltAvlBreak">
		<xs:restriction base="xs:string">
			<xs:pattern value="[12]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JourneyJPSType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[FL]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--*********************************************************
    
      Geo type declarations
    
    ********************************************************-->
	<xs:simpleType name="IPAddressType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PortNumberType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--*********************************************************
    
      Ancillary Service declarations
    
    ********************************************************-->
	<xs:simpleType name="ChargeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ChargeCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NameNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,2}.[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SegmentSequenceType">
		<xs:list itemType="xs:short"/>
	</xs:simpleType>
	<xs:simpleType name="PaxIDList">
		<xs:list itemType="xs:short"/>
	</xs:simpleType>
	<!-- PrivateFareIndType restricted to 'X' or '@' or '/' or '*' -->
	<xs:simpleType name="PrivateFareIndType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[X@/*]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeightUnitType">
		<xs:annotation>
			<xs:documentation>K - kilogram, L - pound</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="K"/>
			<xs:enumeration value="L"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThreeCharacterFixedString">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
