atseintl-master/Schema/DsseResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Marcin Olszewski (sabre) -->
<!-- ========================================
  File:             DsseResponse.xsd
  Description:  DSSE Response XML Schema
  Created:       01/23/2004
  Author:        Prakash Kadamba
  Copyright Sabre 2004
  The copyright to the computer program(s) herein  is the property of Sabre.
  The program(s) may be used and/or copied only with the written permission
   of Sabre or in accordance with the terms and conditions stipulated in the
  agreement/contract under which the  program(s) have been supplied.
========================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:form="http://www.atse.sabre.com/Form" version="1.0">
	<xs:include schemaLocation="DsseCommonTypes.xsd"/>
	<xs:element name="DSS" type="DsseResponseType">
		<xs:annotation>
			<xs:documentation>DSSE Response ElementThis is a root element of this schema.It consists of a number of response items.Each response item correspondsto the appropriate request item of DSS Request. In case of completely invalid request, the response may have no items.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DsseResponseType">
		<xs:annotation>
			<xs:documentation>DSSE Response consists 1-n Response Items.In case of completely invalid request,the response may have no RespItems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ERR" type="DsseErrorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASL" type="ASLType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="DGR" type="DGRType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTM" type="PTMType" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="DCK" type="DCKType" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="FSD" type="FSDType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DIA" type="DIAType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="VER" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="COR" type="CorporateIDType" use="optional">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TXN" type="ClientTransactionIDType" use="optional">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DsseErrorType">
		<xs:annotation>
			<xs:documentation>DSSE Response error.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="COD" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Error code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MSG" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Error message</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASLType" mixed="true">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ASG" type="ASGType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASGType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:attribute name="DDA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BBR" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NPR" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ICD" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CTT" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SSA" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BCC" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ORG" type="AirportCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Origin airport</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DST" type="AirportCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Dest. airport</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MXC" type="AirlineCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Mktg. carrier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FLT" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Mktg. flt. number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MFS" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Mktg. flt. suffix</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ED1" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Effective Date range 1</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ED2" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Effective Date range 2</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ED3" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Effective Date range - frequency</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ED4" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Effective Date range - frequency</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SCH" type="xs:long" use="required">
			<xs:annotation>
				<xs:documentation>DB key unique to each mktg. carrier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ODA" type="xs:short" use="required">
			<xs:annotation>
				<xs:documentation>Bkg code req - Dept. day adjust relative to LOF origin</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ODD" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Local dept. time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OGA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>GMT - origin time adjust</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OLN" type="xs:unsignedShort" use="required">
			<xs:annotation>
				<xs:documentation>Origin leg number within LOF</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OTC" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Dept. terminal ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DD2" type="xs:short" use="required">
			<xs:annotation>
				<xs:documentation>Arrival day adjust relative to boardpoint</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DSA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Local arrive time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DGA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>GMT dest. time adjust</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="STC" type="xs:unsignedShort" use="required">
			<xs:annotation>
				<xs:documentation>Count of stops in LOF</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DTC" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Arrival terminal ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IDA" type="xs:short" use="required">
			<xs:annotation>
				<xs:documentation>Index for date adjust - for PSS</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CXC" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Class codes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MX2" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Meal svc</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OCX" type="AirlineCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Operating carrier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OFN" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Operating flt. number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OPC" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Operating carrier pricing</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MXX" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Other carriers mktg a base flight</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ALX" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Alliances - eg. One World - OW</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TRS" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Tracking status (Dom. vs Intl)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TRX" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Traffice restriction</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TRA" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>TRC - Origin dest blank</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ONT" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Ontime indicator</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DOT" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>DOT disclosure</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LGS" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Code Share exists</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ETX" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>E-ticket</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SMK" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Smoking allowed</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CHT" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Charter flt.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FNL" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Funnel flt.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EQP" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Equipment code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EQ1" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Equipment for leg1</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EQT" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Equipment type (widebody etc.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DQ1" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Equipment for last leg</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DQT" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Equipment type (widebody etc.)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LOF" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Line of flight</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ORC" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Origin country</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DSC" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Destination country</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ORS" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Origin state</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DS2" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Destination state</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="S07" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Code Share Text</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FST" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>flightstatused</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MTH" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Availability method used by ATAE</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RCD" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Return code from ATAE</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PLI" type="xs:integer">
			<xs:annotation>
				<xs:documentation>pollingIndicator - returned by ATAE</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TMS" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>segment timestamp in format: YYYY-MM-DD HH:mm:ss</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DGRType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ASL" type="ASLType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element name="MSG" type="MSGType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Messages for this display group</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ORQ" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Origin airport is the same airport as was requested</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DRQ" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Destination airport is the same airport as was requested</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OMA" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Origin airport is another airport in requested city or the city of requested airport</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DMA" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Destination airport is another airport in requested city or the city of requested airport</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OAA" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Origin airport is an alternate airport provide in the ODI request tag either in a list OAC or by mileage radius ORD</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DAA" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Destination airport is an alternate airport provide in the ODI request tag either in a list DAC or by mileage radius DRD</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OGA" type="xs:short" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>Orig GMT adjustement</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ODS" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Orig is on GMT</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DGA" type="xs:short" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>Dest GMT adjustement</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DDS" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>Dest is on GMT</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NMF" type="xs:boolean" use="optional" default="false">
			<xs:annotation>
				<xs:documentation>No more flights</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PTMType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:attribute name="D83" type="xs:double" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>Request Processing CPU Time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="D84" type="xs:double" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>Request Processing Elapsed Time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="D85" type="xs:double" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>XML Parsing CPU Time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="D86" type="xs:double" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>XML Paring Elapsed Time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="D87" type="xs:double" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>Response Building CPU Time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="D88" type="xs:double" use="optional" default="0">
			<xs:annotation>
				<xs:documentation>Response Building Elapsed Time</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MSGType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:attribute name="MSG" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DCKType">
		<xs:attribute name="CKI" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="FSDType">
		<xs:attribute name="COD" type="AirlineCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Carrier symbol</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ICD" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>If true, carrier is callDirect carrier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NST" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Non-stop flight count</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DIR" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Direct flight count</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ONL" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Online flight count</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ISE" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Interline service exists indicator</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DIAType">
		<xs:annotation>
			<xs:documentation>Diagnostics</xs:documentation>
		</xs:annotation>
	</xs:complexType>
</xs:schema>
